  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/number-input"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>


<ion-content class="ion-padding options-bg">   
  <div class="auth-container">
    <h1 class="title">Choose how to continue</h1>
    <p class="subtitle">Select a method to sign up</p>

    <ion-button expand="block" class="google-btn" (click)="continueWithGoogle()">
      <ion-icon name="logo-google" slot="start"></ion-icon>
      Continue with Google
    </ion-button>

    <ion-button expand="block" class="facebook-btn" (click)="continueWithFacebook()">
      <ion-icon name="logo-facebook" slot="start"></ion-icon>
      Continue with Facebook
    </ion-button>

    <div class="divider">
      <span>or</span>
    </div>

    <ion-button expand="block" fill="outline" class="manual-btn" (click)="createAccount()">
      <ion-icon name="person-add" slot="start"></ion-icon>
      Create Account
    </ion-button>
  </div>
</ion-content>
