<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/number-input"></ion-back-button>
  </ion-buttons>
  <ion-title>Verify OTP</ion-title>
</ion-toolbar>

<ion-content class="ion-padding">

  <div class="form-section">
    <label class="label">Enter the 6-digit code</label>
    <ion-input
      type="tel"
      maxlength="6"
      placeholder="123456"
      [(ngModel)]="otpCode">
    </ion-input>

    <ion-button
      expand="block"
      class="verify-btn"
      (click)="verifyCode()"
      [disabled]="!otpCode || otpCode.length !== 6">
      Verify
    </ion-button>
  </div>

</ion-content>
