<ion-header class="aqua-header">
  <ion-toolbar class="aqua-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/account"></ion-back-button>
    </ion-buttons>
    <ion-title class="aqua-title">Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="settings-bg ion-padding">

  <!-- 🌙 GENERAL SETTINGS -->
  <ion-list class="settings-list">
    <ion-list-header>
      <ion-label>General</ion-label>
    </ion-list-header>

    <ion-item lines="none">
      <ion-icon name="moon-outline" slot="start" color="medium"></ion-icon>
      <ion-label>Dark Theme</ion-label>
      <ion-toggle [(ngModel)]="darkTheme" (ionChange)="toggleTheme()" color="primary"></ion-toggle>
    </ion-item>
  </ion-list>

  <!-- 🔔 NOTIFICATION SETTINGS -->
  <ion-list class="settings-list">
    <ion-list-header>
      <ion-label>Notifications</ion-label>
    </ion-list-header>

    <ion-item lines="none">
      <ion-icon name="notifications-outline" slot="start" color="medium"></ion-icon>
      <ion-label>Push Notifications</ion-label>
      <ion-toggle [(ngModel)]="pushNotifications" (ionChange)="toggleNotifications()" color="primary"></ion-toggle>
    </ion-item>

    <ion-item lines="none" button detail="false" (click)="sendTestNotification()">
      <ion-icon name="send-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Send Test Notification</ion-label>
    </ion-item>
  </ion-list>

  <!-- 💬 SUPPORT -->
  <ion-list class="settings-list">
    <ion-list-header>
      <ion-label>Support</ion-label>
    </ion-list-header>

    <ion-item button lines="full">
      <ion-icon name="help-circle-outline" slot="start" color="medium"></ion-icon>
      <ion-label>Help</ion-label>
    </ion-item>

    <ion-item button lines="none">
      <ion-icon name="mail-outline" slot="start" color="medium"></ion-icon>
      <ion-label>Contact Us</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
